body {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: #fff;
}

#enterSite {
    padding: 0 60px 0 60px;

}

.navbar {
    background-color: #ADD8E6;
  }

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-size: 16px;
  }

 // Shrink page
 // -----------------------------------------------

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}

#container {
    padding-top: 100px;
}

/*
 * Main
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


img{
  width: 150px;
  height: auto;
}

ul li{
  list-style-type:none;
  padding: 5px;
}

#match-container{
    vertical-align: top;
    height: 300px;
    width: 300px;
  //  background: #D3D3D3;
}

#match-container ul{
 vertical-align: top;
 background: #d3d3d3;
 margin: 1px;
 padding: 5px;
 height: 100%;
 border: 1px black solid;
 border-radius: 10px;
 background: #fff;
 // background: #D3D3D3
}

#fullMatch-container{
  vertical-align: top;
  height: 600px;
  width: 600px;
}

#fullMatch-container ul{
 vertical-align: top;
 background: #d3d3d3;
 margin: 1px;
 padding: 5px;
 height: 100%;
 border: 13px white solid;
 border-radius: 20px;
 background: #D3D3D3;
 font-size: 1.5em;
}

#fullMatch-container img{
  width: 400px;
  height: auto;
}

.navbar-inverse .navbar-brand {

  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.btn-xl {
    // padding: 50px 50px;
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

