body {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: #ADD8E6;
}

.navbar navbar-default{
   height:50px;
   background-color: #949494;
 }

img{
  width: 150px;
  height: auto;
}

ul li{
  list-style-type:none;
  padding: 5px;
}

#match-container{
    vertical-align: top;
    height: 300px;
    width: 300px;
  //  background: #D3D3D3;
}

#match-container ul{
 vertical-align: top;
 background: #d3d3d3;
 margin: 1px;
 padding: 5px;
 height: 100%;
 border: 5px white solid;
 border-radius: 10px;
 background: #D3D3D3
}

#fullMatch-container{
  vertical-align: top;
  height: 600px;
  width: 600px;
}

#fullMatch-container ul{
 vertical-align: top;
 background: #d3d3d3;
 margin: 1px;
 padding: 5px;
 height: 100%;
 border: 13px white solid;
 border-radius: 20px;
 background: #D3D3D3;
 font-size: 1.5em;
}

#fullMatch-container img{
  width: 400px;
  height: auto;
}


