<!-- HANDLEBARS TEMPLATE EDIT USER PROFILE -->

<script id="userEditProfileTemplate" type="text/x-handlebars-template">
  <div class="editProfile">

    <form id="profile-edit-form">

      Age: <input type=text id=user-age-field value="{{userProfile.age}}" />
      Seeking: <input type=text id=user-seeking-field value="{{userProfile.seeking}}" />

      Bio: <input type=text id=user-bio-field value="{{userProfile.bio}}" />

      Languages: <input type=text id=user-languages-field value="{{languages}}" />

      <input type="submit" value="Save Your Profile"/>
    </form>
  </div>
</script>
